@charset "utf-8";
:root {
	--containerPadding: 1.5rem;
}

body {
	background-color: rgb(128, 98, 214);
	padding: var(--containerPadding) 0;
}

.container {
	display: flex;
	gap: 1rem;
	height: calc(100vh - (2 * var(--containerPadding)));
}

.panel {
	background-color: rgb(255, 210, 215);
	height: 100%;
	flex: 1;
	border-radius: 2rem;
	position: relative;
	transition: 0.5s ease, background-color 1s ease-in 100ms;

}
.panel:hover {background-color: rgb(20, 210, 215);
	flex: 3;} 
