@charset 'UTF-8';

/* 폰트설정 */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Play&display=swap");

/* font-family: 'Monoton', cursive;
font-family: 'Play', sans-serif; */

/* 전체설정 */

* {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: bottom;
}
body {width: 100%;
height: 100%;
position: fixed;}
/* 적응형웹임을 알리는 방식과 같다 */

/* 로고 */
h1 {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
}
h1 img {
  width: 280px;
  height: auto;
}

/* 배경동영상 */

.vid {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: -60px;
  z-index: 1;
}
.vid video {
  width: 100%;
  min-width: 1600px;
}

/* 헤더설정 */
header {
  background:linear-gradient(-45deg,#e6fc55,#b9fb05,#97e031);
  position: fixed;
  width: 700px;
  height: 100%;
  z-index: 8;
  transform: skewX(-40deg);
  left: -420px;
}
header .gnb {
  position: absolute;
  right: 0;
  top: 150px;
  width: 220px;
}
header .gnb > li {
}
header .gnb > li > a {
  text-align: right;
  display: block;
  padding-right: 40px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Play", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

header .gnb > li:hover > a {
  background-color: #111;
  color: #fff;
}

header em {
  transform: skewX(40deg);
  display: inline-block;
}

/* 2뎁스설정 */
header .gnb > li {
  position: relative;
}
header .gnb > li ul {
  position: absolute;
  left: 220px;
  top: 0px;
  display: none;
}
header .gnb > li:hover ul {
        display: block;

}
header .gnb ul a {
  display: block;
  width: 150px;
  background-color: #222;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  border-bottom: 1px solid #b9fb05;
  margin-bottom: 3px;
}
header .gnb i {transform: skewX(40deg);
color: white;
display: inline-block;
padding-right:10px;}
/* snsset설정 */
.snsset {position: fixed;
right: 40px;
top: 40px;
z-index: 8;
display: flex;}
.snsset li {margin-right: 20px;}
.snsset a  {color: #b9fb05;}
.snsset i {font-size: 25px;}
.snsset a:hover i{transform: scale(1.2);}

/* hero텍스트 설정 */
section {position: fixed;
right: 200px;
top: 30%;
z-index: 10;
width: 340px;
height: 280px;
}
section p:nth-child(1) {font-family: 'Monoton', cursive;
font-size: 160px;
color: #b9fb05;}
section p:nth-child(1) em {font-size: 50px;
font-family: 'Play', sans-serif;
color: #fff;}
section p:nth-child(2) {font-size: 34px;
font-family:'Play', sans-serif;
color: #bbb;
letter-spacing: -2px;
margin-top: -30px;}

section p:nth-child(2) b {font-family: Arial, Helvetica, sans-serif;
color: #b9fb05;}








/* 사이드메뉴 */

.side {
  width: 800px;
  position: fixed;
  z-index: 8;
  height: 100%;
  background-color: #111;;
  opacity: 0.5;

  right:-800px;
  top: 0;
  transform: skewX(-40deg);

  transition: all 0.5s;
}
.side .con {
    position: absolute;
    width: 400px;
    background-color: #000;
    height: 100%;
    left: 150px;
    padding: 10px;
box-sizing: border-box;
transition: all 0.8s;
}
.side .con p {
    position: absolute;
    width:300px;
   
    height: 100px;

    transition: all 1.2s;
}
.side .con p:nth-child(3) {bottom: 50px;
    left: 200px;}
.side .con p:nth-child(2) {bottom: 170px;
    left: 250px;}
.side .con p:nth-child(1) {bottom: 290px;
    left: 300px;}
.side .con em {
  transform: skewX(40deg);
  display: block;
  color: #a0db50;
}
.side .con img {
    width: 300px;
}


.side:hover {right: -500px;}
.side:hover .con {left: 50px;}

.side:hover p:nth-child(1) {left: 50px;}
.side:hover p:nth-child(2) {left: 50px;}
.side:hover p:nth-child(3) {left: 50px;}

/* 자동롤린버튼설정 */
.btn {position: absolute;
bottom: 40px;
left: 100px;
transform: skewX(40deg);
width: 150px;
height: 50px;}
.btn i {color: #b9fb05;
font-size: 60px;
position: absolute;
right: 0;}
.btn i:nth-child(1) {animation: ani 1.5s 0s linear infinite ;}
/* animation: ani 1.5s 0.5s linear infinite 
animation : 키프레임 지속시간 지연시간 가속도 반복 */
.btn i:nth-child(2) {animation: ani 1.5s 0.5s linear infinite;}
.btn i:nth-child(3) {animation: ani 1.5s 1s linear infinite;}
@keyframes ani {
0%{right: 0;
transform: scale(1);
opacity: 1;}
100%{right: 100px;
transform: scale(1.5);
opacity: 0;}

}