
/* 스타일 CSS*/

@charset 'UTF-8';


/* header콘텐츠 */
header {}
header h1 {position: absolute;
        width: 180px;
        height: 136px;
        background-image: url(../img/logo1.png);
        text-indent: -9999px;
        left: 50%;
        margin-left: -90px;
    top: 70px;
background-size: contain;
background-repeat: no-repeat;
}
.gnb {position: absolute;
    top: 300px;
    right:50%;}
.gnb li {}
.gnb li a {display: block;
        padding: 8px 30px;
    font-size: 17px;
font-weight: bold;
text-align: left;}
.gnb li i {margin-right: 15px;}

.snsSet {position: absolute;
        bottom: 50px;
    width: 90px;
    height: 47px;
right: 50%;;
margin-right: -45px;}
.snsSet a {float: left;
        }


    /* nav 콘텐츠 */
    nav {position: relative;}

nav a:nth-child(1) {position: absolute;
                    left: 10px;
                    top: 5px;}
nav a:nth-child(2) {position: absolute;
                    left: 150px;
                top: 5px;}
nav a:nth-child(3) {position: absolute;
right: 96px;
top: 5px;}
nav a:nth-child(4) {position: absolute;
    top: 5px;
right: 10px;}


/* 미디어쿼리구간 */
/* 2. 480~639 까지 구간 */
@media (min-width:480px) and (max-width:639px)
{
    /* header콘텐츠 */
    header {}
    header h1 {width: 200px;
            height: 40px;
            background-image: url(../img/logo2.png);
            left: 50%;
            margin-left: -100px;
        top: 20px;}


    .gnb {top: 80px;
        right: 0px;
    width: 100%;}
    .gnb li {float: left;
    width: 25%;
text-align: center;}
    .gnb li a {display: block;
        padding: 8px 10px;
    font-size: 17px;
font-weight: bold;
text-align: left;}
    
    
    .snsSet {display: none;
            bottom: 20px;
        width: 90px;
        height: 47px;
    right: 40px;
    margin-right: 0;}
    .snsSet a {float: left;}
}

/* 3.640~779 까지구간 */
@media (min-width:640px) and (max-width:779px)
{
    /* header콘텐츠 */
    header {}
    header h1 {width: 200px;
            height: 40px;
            background-image: url(../img/logo2.png);
            left: 20px;
            margin-left:0;
        top: 20px;}


    .gnb {top: 20px;
        right: 40px;}
    .gnb li {float: left;}
    .gnb li a {display: block;
        padding: 8px 10px;
    font-size: 17px;
font-weight: bold;
text-align: left;}
    
    
    .snsSet {display: none;
            bottom: 20px;
        width: 90px;
        height: 47px;
    right: 40px;
    margin-right: 0;}
    .snsSet a {float: left;}
}
/* 4. 789~1023 까지 구간 */
@media (min-width:789px) and (max-width:1023px)
{
    /* header콘텐츠 */
    header {}
    header h1 {width: 200px;
            height: 40px;
            background-image: url(../img/logo2.png);
            left: 20px;
            margin-left:0;
        top: 20px;}
    .gnb {top: 20px;
        right: 40px;}
    .gnb li {float: left;}
    
    
    .snsSet {display: none;
            bottom: 20px;
        width: 90px;
        height: 47px;
    right: 40px;
    margin-right: 0;}
    .snsSet a {float: left;}
}
/* 5. 1024~1279 까지 구간 */
@media (min-width:1024px) and (max-width:1279px)
{
    /* header콘텐츠 */
header {}
header h1 {width: 200px;
        height: 40px;
        background-image: url(../img/logo2.png);
        left: 20px;
        margin-left:0;
    top: 20px;}
.gnb {top: 20px;
    right: 40px;}
.gnb li {float: left;}


.snsSet {display: none;
        bottom: 20px;
    width: 90px;
    height: 47px;
right: 40px;
margin-right: 0;}
.snsSet a {float: left;}
}
/* 6.1280~1599  까지 구간 */
@media (min-width:1280px) and (max-width:1599px)
{
    /* header콘텐츠 */
header {}
header h1 {width: 200px;
        height: 40px;
        background-image: url(../img/logo2.png);
        left: 20px;
        margin-left:0;
    top: 20px;}
.gnb {top: 20px;
    right: 200px;}
.gnb li {float: left;}


.snsSet {position: absolute;
        bottom: 20px;
    width: 90px;
    height: 47px;
right: 40px;
margin-right: 0;}
.snsSet a {float: left;}
}